
<style>



    .box2{
    background-color:rgb(0, 255, 47);
    width: 765px;
    height: 50px;
    }
    .box3{
    background-color:orange;
    width: 765px;
    height: 110px;
    
    }
    #countName{
        background-color: rgb(9, 11, 9);
        width: 50px ;
        height: 100px;
    }
    
    
    </style>
    <footer>
    
    <div class = "box2">
    <h2 >  the alphabet</h2>
    </div>
    <% // STEXCEL ALFABET %>
    
    
    
    <% // SCRIPT TARERI VRA SEXMEL  STUGOX   %>
    <% //  ###################################################################%>
    <script>

let stTar;

        let mayrQaxaq = '<%-Capital %>'

        function TariStugum(tar){
 
            for(let i = 0; i < mayrQaxaq.length ; i++){
                 if(tar === mayrQaxaq[i] || tar.toLowerCase()===mayrQaxaq[i]){

                  let iden = "but"+i;
                document.getElementById(iden).value = tar

                 }
                 

            }


        }

        
function  A (){

           stTar="A" ;
           TariStugum(stTar)
           console.log(stTar)
           }



function  B (){

stTar="B" ;
TariStugum(stTar)
console.log(stTar)
}

function  C (){

stTar="C" ;
TariStugum(stTar)
console.log(stTar)


}
function  D (){

stTar="D" ;
TariStugum(stTar)
console.log(stTar)
}

function  E (){

stTar="E" ;
TariStugum(stTar)
console.log(stTar)
}

function  F (){

stTar="F" ;
TariStugum(stTar)
console.log(stTar)
}
function  G (){

stTar="G" ;
TariStugum(stTar)
console.log(stTar)
}
function  H (){

stTar="H" ;
TariStugum(stTar)
console.log(stTar)
}
function  I (){

stTar="I" ;
TariStugum(stTar)
console.log(stTar)
}
function  J (){

stTar="J" ;
TariStugum(stTar)
console.log(stTar)
}
function  K (){

stTar="K" ;
TariStugum(stTar)
console.log(stTar)
}
function  L (){

stTar="L" ;
TariStugum(stTar)
console.log(stTar)
}

function  M (){

stTar="M" ;
TariStugum(stTar)
console.log(stTar)
}

function  N (){

stTar="N" ;
TariStugum(stTar)
console.log(stTar)
}
function  O (){

stTar="O" ;
TariStugum(stTar)
console.log(stTar)
}
function  P (){

stTar="P" ;
TariStugum(stTar)
console.log(stTar)
}
function  Q (){

stTar="Q" ;
TariStugum(stTar)
console.log(stTar)
}
function  R (){

stTar="R" ;
TariStugum(stTar)
console.log(stTar)
}
function  S(){

stTar="S" ;
TariStugum(stTar)
console.log(stTar)
}
function  T (){

stTar="T" ;
TariStugum(stTar)
console.log(stTar)
}
function  U(){

stTar="U" ;
TariStugum(stTar)
console.log(stTar)
}

function  V (){

stTar="V" ;
TariStugum(stTar)
console.log(stTar)
}
function  W(){

stTar="W" ;
TariStugum(stTar)
console.log(stTar)
}

function  X (){

stTar="X" ;
TariStugum(stTar)
console.log(stTar)
}
function  Y (){

stTar="Z" ;
TariStugum(stTar)
console.log(stTar)
}

function  Z (){

stTar="Z" ;
TariStugum(stTar)
console.log(stTar)
}
        






 </script>
    
    <div class ="box3" >
    
        <table>
    <% // Tareri arajin tox@  %>
    
    <tr>
        <% // tar AAAAAAAAAAA %>
        <th>

    <input type = "button" onclick="A()" id="A"  name="A" value="A">
    
    </th>
    <% // tar BBBBBBBBBBBBBB %>
    <th>
    
    <input type = "button" onclick="B()" name="B" value="B">
    
    </th>
    <% //  TAR CCCCCCCCCCCCCCCCCC%>
    <th>
    
    <input type = "button" onclick="C()" name="C" value="C">
    
    
    </th>
    
    <% // tar DDDDDDDDDDDDDDDDDDD%>
    <th>
    
    <input type ="button" onclick="D()" name="D" value="D">
    
    </th>
    
    <% // tar EEEEEEEEEEEEEEEEEEEEEE%>
    <th>
    
    <input type = "button" onclick="E()" name="E" value="E">

    </th>
    
    <% // tar FFFFFFFFFFFFFFFFFFFFFF  %>
    <th>
        
    <input type = "button"onclick="F()"  name="F" value="F">
    
    </th>
    
    
    
    <% // tar GGGGGGGGGGGGGGGGGGGGGGGG  %>
    <th>
        
<input type = "button" onclick="G()" name="G" value="G">

    </th>
    <% // tar HHHHHHHHHHHHHHHHHH  %>
    <th>
        
            <input type = "button" onclick="H()" name="H" value="H">
        
    </th>
    
    
    
    
    <% // tar  IIIIIIIIIIIIIIIIIIIIIIIII %>
    <th>
        
            <input type = "button"  onclick="I()"name="I" value="I">
    </th>
    <% // tar  JJJJJJJJJJJJJJJJJJJJ%>
    <th>
        <input type = "button" onclick="J()" name="J" value="J">
    
    </th>
    <% // tar KKKKKKKKKKKKKKKKKK    %>
    <th>
        <input type = "button"  onclick="K()" name="K" value="K">
    
    </th>
    <% // tar LLLLLLLLLLLLLLLLLLLLLL%>
    <th>
        <input type = "button" onclick="L()" name="L" value="L">
    
    </th>
    <% // tar MMMMMMMMMMMMMMMMMMMMMM%>
    <th>
    <input type = "button"   onclick="M()" name="M" value="M">
    
    </th>
    </tr>
    <% // tareei 2-rd toxxxxxxxxx%>
    
    <% // tar NNNNNNNNNNNNNNNNNNNNNN  %>
    <tr>
    <td>
    <input type = "button" onclick="N()" name="N" value="N">
    
    </td>
    
    <% // tar OOOOOOOOOOOOO     %>
    <td>
   
    <input type = "button" onclick="O()" name="O" value="O">
    
    </td>
    <% // tar PPPPPPPPPPPPPP     %>
    <td>
    <input type = "button" onclick="P()" name="P" value="P">
   
    </td>
    
    
    
    <%  // tar QQQQQQQQQQQQQQQQ  %>
    <td>
        
    <input type = "button" onclick="Q()" name="Q" value="Q">
 
    </td>
    <% // tar RRRRRRRRRRRRRRRRR   %>
    <td>
    <input type = "button" onclick="R()" name="R" value="R">
    
    </td>
    <% // tar SSSSSSSSSSSSSSSS   %>
    <td>
        
    <input type = "button" onclick="S()" name="S" value="S">
    
    </td>
    <% // tar TTTTTTTTTTTTTTTTT     %>
    <td>
    <input type = "button" onclick="T()" name="T" value="T">
    
    </td>
    
    <% // tar UUUUUUUUUUUUUUUUUUU  %>
    <td>
    <input type = "button" onclick="U()" name="U" value="U">
    
    </td>
    <% // tar V V V V VVVVVVVVVVVVV    %>
    <td>
    <input type = "button" onclick="V()" name="V" value="V">
    
    </td>
    <% // tar W W W W W W W W W %>
    <td>
    <input type = "button" onclick="W()" name="W" value="W">
    
    </td>
    <% // tar XXXXXXXXXXXXXXXX   %>
    <td>
    <input type = "button"  onclick="X()"name="X" value="X">
    
    </td>
    <% // tar YYYYYYYYYYYYYYYYYYYY   %>
    <td>
    <input type = "button" onclick="Y()" name="Y" value="Y">
    
    </td>
    <% // tar ZZZZZZZZZZZZZZZZZZZZZZZ   %>
    <td>
    <input type = "button" onclick="Z()" name="Z" value="Z">
    
    </td>
    
    </tr>
    </table>
    </div>
    </footer>