
<style>



.box2{
background-color:rgb(0, 255, 47);
width: 765px;
height: 50px;
}
.box3{
background-color:orange;
width: 765px;
height: 110px;

}
#countName{
    background-color: rgb(9, 11, 9);
    width: 50px ;
    height: 100px;
}


</style>
<footer>

<div class = "box2">
<h2 >  the alphabet</h2>
</div>
<% // STEXCEL ALFABET %>

<div class ="box3" >

    <table>
<% // Tareri arajin tox@  %>

<tr>
    <% // tar AAAAAAAAAAA %>
    <th>
<form class ="tarA" action="/tar">
<input type = "submit" name="A" value="A">
</form>
</th>
<% // tar BBBBBBBBBBBBBB %>
<th>
<form action="/tar">
<input type = "submit" name="B" value="B">
</form>
</th>
<% //  TAR CCCCCCCCCCCCCCCCCC%>
<th>
<form action="/tar">
<input type = "submit" name="C" value="C">

</form>
</th>

<% // tar DDDDDDDDDDDDDDDDDDD%>
<th>
<form action="/tar">
<input type ="submit" name="D" value="D">
</form>
</th>

<% // tar EEEEEEEEEEEEEEEEEEEEEE%>
<th>
<form action="/tar">
<input type = "submit" name="E" value="E">
</form>
</th>

<% // tar FFFFFFFFFFFFFFFFFFFFFF  %>
<th>
    <form action="/tar">
<input type = "submit" name="F" value="F">
</form>
</th>



<% // tar GGGGGGGGGGGGGGGGGGGGGGGG  %>
<th>
    <form action="/tar">
        <input type = "submit" name="G" value="G">
    </form>
</th>

<% // tar HHHHHHHHHHHHHHHHHH  %>

<th>

    <form action="/tar">
        <input type = "submit" name="H" value="H">
    </form>

</th>




<% // tar  IIIIIIIIIIIIIIIIIIIIIIIII %>
<th>
    <form action="/tar">
        <input type = "submit" name="I" value="I">
    </form>
</th>
<% // tar  JJJJJJJJJJJJJJJJJJJJ%>
<th><form action="/tar">
    <input type = "submit" name="J" value="J">
</form>
</th>
<% // tar KKKKKKKKKKKKKKKKKK    %>
<th><form action="/tar">
    <input type = "submit" name="K" value="K">
</form>
</th>
<% // tar LLLLLLLLLLLLLLLLLLLLLL%>
<th><form action="/tar">
    <input type = "submit" name="L" value="L">
</form>
</th>
<% // tar MMMMMMMMMMMMMMMMMMMMMM%>
<th><form action="/tar">
<input type = "submit" name="M" value="M">
</form>
</th>
</tr>
<% // tareei 2-rd toxxxxxxxxx%>

<% // tar NNNNNNNNNNNNNNNNNNNNNN  %>
<tr>
<td><form action="/tar">
<input type = "submit" name="N" value="N">
</form>
</td>

<% // tar OOOOOOOOOOOOO     %>
<td>
<form action="/tar">
<input type = "submit" name="O" value="O">
</form>
</td>
<% // tar PPPPPPPPPPPPPP     %>
<td><form action="/tar">
<input type = "submit" name="P" value="P">
</form>
</td>



<%  // tar QQQQQQQQQQQQQQQQ  %>
<td>
    <form action="/tar">
<input type = "submit" name="Q" value="Q">
</form>
</td>
<% // tar RRRRRRRRRRRRRRRRR   %>
<td><form action="/tar">
<input type = "submit" name="R" value="R">
</form>
</td>
<% // tar SSSSSSSSSSSSSSSS   %>
<td>
    <form action="/tar">
<input type = "submit" name="S" value="S">
</form>
</td>
<% // tar TTTTTTTTTTTTTTTTT     %>
<td><form action="/tar">
<input type = "submit" name="T" value="T">
</form>
</td>

<% // tar UUUUUUUUUUUUUUUUUUU  %>
<td><form action="/tar">
<input type = "submit" name="U" value="U">
</form>
</td>
<% // tar V V V V VVVVVVVVVVVVV    %>
<td><form action="/tar">
<input type = "submit" name="V" value="V">
</form>
</td>
<% // tar W W W W W W W W W %>
<td><form action="/tar">
<input type = "submit" name="W" value="W">
</form>
</td>
<% // tar XXXXXXXXXXXXXXXX   %>
<td><form action="/tar">
<input type = "submit" name="X" value="X">
</form>
</td>
<% // tar YYYYYYYYYYYYYYYYYYYY   %>
<td><form action="/tar">
<input type = "submit" name="Y" value="Y">
</form>
</td>
<% // tar ZZZZZZZZZZZZZZZZZZZZZZZ   %>
<td><form action="/tar">
<input type = "submit" name="Z" value="Z">
</form>
</td>

</tr>
</table>
</div>
</footer>