<style>
#butstart{
background-color:blue;
    border: gold;
      color: rgb(27, 151, 56);
      padding: 30px 150px;
      text-align:center;
      font-size: 50px;
      position:relative;
      text-decoration:none;
      display: inline-block;
      position: absolute;
	  top :15%;
	  left: 50%;
	  transform: translate(-50%, -50%);
     margin: 4px 2px;
      cursor: pointer;
    }
    .boxMijin{
      
background-color:white;
width: 765px;
height: 450px;
    }
    </style>

    <h2> Can you find the capital ? </h2>

    

<form action="/tar">


<input type="submit" id="butstart" name = "START" value="startProject">

</form>

</div>
    
<div class = "boxMijin">    </div>













